{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - css_files
 * - css_url
 * - js_url
 * - favicon_url
 * - img_url
 * - lang_code
 * - favicon_color
 *
 */
#}

        </main>
        <footer class="footer" id="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
            <div class="wrapper-fullwidth">
                <div class="footer-logos">
                    <ul>
                        <li>
                            <a href="">
                                <img src="{{ img_url }}logo/logo1.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{{ img_url }}logo/logo2.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{{ img_url }}logo/logo3.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="{{ img_url }}logo/logo4.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top">
                    <div class="logo"><img src="{{ img_url }}logo-footer.png" alt=""></div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href=""><i class="icon-rs-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="icon-rs-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="icon-rs-instagram"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="icon-rs-linkedin"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="icon-rs-googleplus"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter">
                        <form class="newsletter-form">
                            <div class="label">Recevez la newsletter EZI-X</div>
                            <div class="newsletter-input">
                                <input class="input" placeholder="Votre adresse e-mail">
                                <button class="button-send">M’abonner</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer-middle">
                    <div class="col-bt col-bt1">
                        <div class="inner">
                            <h2>EZI-X et vous</h2>
                            <ul class="menu">
                                <li>
                                    <a href="">Honoraires</a>
                                </li>
                                <li>
                                    <a href="">Acheter</a>
                                </li>
                                <li>
                                    <a href="">Louer</a>
                                </li>
                                <li>
                                    <a href="">Estimation</a>
                                </li>
                                <li>
                                    <a href="">Agents</a>
                                </li>
                                <li>
                                    <a href="">Contact</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-bt col-bt2">
                        <div class="inner">
                            <h2>Achat appartement Paris</h2>
                            <ul class="menu">
                                <li>
                                    <a href="">Achat appartement Paris 1</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 2</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 3</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 4</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 5</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 6</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 1</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 2</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 3</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 4</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 5</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Paris 6</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-bt col-bt2">
                        <div class="inner">
                            <h2>Achat appartement Petite Couronne</h2>
                            <ul class="menu">
                                <li>
                                    <a href="">Achat appartement Issy-Les-Moulinaux</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Vanves</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Malakoff</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Montrouge</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Gentilly</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Le Kremlin-Bicêtre</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Issy-Les-Moulinaux</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Vanves</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Malakoff</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Montrouge</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Gentilly</a>
                                </li>
                                <li>
                                    <a href="">Achat appartement Le Kremlin-Bicêtre</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-bt col-bt2">
                        <div class="inner">
                            <h2>Agence immobilière Paris et Petite Couronne</h2>
                            <ul class="menu">
                                <li>
                                    <a href="">Agence immobilière Paris 1</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 2</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 3</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 4</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 5</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 6</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 1</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 2</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 3</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 4</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 5</a>
                                </li>
                                <li>
                                    <a href="">Agence immobilière Paris 6</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="footer-bottom">
                    <ul>
                        <li>
                            <a href="">À propos</a>
                        </li>
                        <li>
                            <a href="">Actualités</a>
                        </li>
                        <li>
                            <a href="">Nous rejoindre</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Mentions légales</a>
                        </li>
                        <li>
                            <a href="">CGU</a>
                        </li>
                    </ul>

                </div>
            </div>
        </footer>

    </div>
</body>
</html>