{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<section class="slideshow slideshow__home flexslider">
    <ul class="slides">
        {% if title %}
            <h3>{{ title }}</h3>
        {% endif %}
        {% for row in rows %}
            {%
            set row_classes = [
            default_row_class ? 'views-row',
            ]
            %}
            <li style="background-image:url('{{ file_url(row.content["#row"]._entity.field_image[0].entity.uri.value) }}')">
                <div class="img">
                    <img src="{{ file_url(row.content["#row"]._entity.field_image[0].entity.uri.value) }}" alt="">
                </div>
                <div class="slides__content">
                    <h2>{{ row.content["#row"]._entity.title.value }}</h2>
                    <a href="{{ row.content["#row"]._entity.field_link[0].uri }}">en savoir plus</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="scroll__down">
        <p>{{ "Découvrez <br>
            la fondation"|t }}</p>
        <span class="scroll__mouse"></span>
        <p>scroll</p>
    </div>
</section>