{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
<div class="wrap main-content list__actuas with-sidebar">
    <div class="wrapper maxsize">
        <div class="container">
            <div class="page-content">
                <div class="actu-simple">

                    <div class="region region-content">

                        <section id="block-system-main" class=" block block-system contextual-links-region">
                            <div class="node node-news node--1589" about="/fr/actualite/air-france-sengage-pour-le-tourisme-durable" typeof="sioc:Item foaf:Document">

                                <h1>{{ node.title.value }} </h1>
                                <span property="dc:title" content="Air France s'engage pour le Tourisme Durable" class="rdf-meta element-hidden"></span>
                                <!-- article -->
                                <div class="article">

                                    <!-- body sumarry -->
                                    <div class="body-summary">
                                        <p><b>Lorem ipsum dolor sit amet, coadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </b></p>
                                    </div>

                                    <!-- created time -->
                                    <div class="infonews">
                                        <!-- date published -->
                                        <time datetime="{{ node.created.value|date("M d Y") }}" class="published">{{ node.created.value|date("M d Y") }}</time>
                                    </div>

                                    <!-- main image -->
                                    <div class="image">
                                        <img typeof="foaf:Image" src="{{ file_url(node.field_image[0].entity.uri.value) }}" width="720" height="310" alt="">        </div>

                                    <!-- body -->
                                    <div class="body-text">
                                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even" property="content:encoded">
                                                    {{ node.body.value|raw }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>{#actu-simple#}
            <aside class="side-content">
                    <section id="block-bean-press-zone-push-fr" class=" block block-bean contextual-links-region">
                        <section class="block press-push contextual-link-region contextual-links-region entity entity-bean bean-press-zone-sidebar" about="/fr/block/press-zone-push-fr" typeof="">
                            <div class="views-field views-field-field-image">
                                <div class="field-content">
                                    <a href="http://corporate.airfrance.com/fr/presse" target="_self">
                                        <div class="field field-name-field-main-image field-type-image field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even"><img typeof="foaf:Image" src="http://pphan.airfrance.fondattion.picathena.com/sites/default/files/styles/sidebar_image_228x158/public/push_presse_0.jpg?itok=iBvi6_PI" width="228" height="158"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <p class="read">
                                <a href="http://corporate.airfrance.com/fr/presse" class="button plus read__more" target="_self">
                                    <span class="content">
                                        <span class="title">Espace presse</span>
                                        <span class="icon"></span>
                                    </span>
                                </a>
                            </p>

                        </section>
                    </section>
                    <section class="block last-news block block-views">
                        <h2>Dernières actualités </h2>
                        <div class="view view-news view-id-news view-display-id-block_news_sidebar view-dom-id-8b57f149263bf485fb5526b949c4cdbd view-on">
                            <div class="view-content">
                                <div class="views-row views-row-1 views-row-odd views-row-first">
                                    <!-- news-article -->
                                    <article class="last-news-list-article">
                                        <div class="text-block">
                                            <div class="new-title"><span class="field-content"><a href="/fr/actualite/65-ans-au-japon" class="read__more">65 ans au Japon</a></span></div>
                                            <time datetime="1 month" class="published">Il y a 1 month</time>
                                        </div>
                                    </article>
                                </div>
                                <div class="views-row views-row-2 views-row-even">
                                    <!-- news-article -->
                                    <article class="last-news-list-article">
                                        <div class="text-block">
                                            <div class="new-title"><span class="field-content"><a href="/fr/actualite/prix-fondation-air-france-2017-la-solidarite-recompensee" class="read__more">Prix Fondation Air France 2017 : la solidarité récompensée</a></span></div>
                                            <time datetime="1 month" class="published">Il y a 1 month</time>
                                        </div>
                                    </article>
                                </div>
                                <div class="views-row views-row-3 views-row-odd views-row-last">
                                    <!-- news-article -->
                                    <article class="last-news-list-article">
                                        <div class="text-block">
                                            <div class="new-title"><span class="field-content"><a href="/fr/actualite/biocarburant-aeronautique-un-engagement-pour-la-croissance-verte" class="read__more">Biocarburant aéronautique : un Engagement pour la Croissance Verte</a></span></div>
                                            <time datetime="1 month" class="published">Il y a 1 month</time>
                                        </div>
                                    </article>
                                </div>
                            </div>






                        </div>
                    </section>
                    <section class="rss-subscribe">
                        <p class="button_read__more">
                            <a class="read__more" href="/fr/rss-subscription">
                                S'abonner au flux RSS    </a>
                        </p>
                    </section>
                </aside>

        </div>
    </div>
</div>